@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jost-Black";
  src: url("/fonts/Jost-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
